<p id="notice"><%= notice %></p>

<h1>Board Hotwired</h1>

  <div class="row">
    <% @lists.each do |list| %>
      <%= turbo_stream_from list %>

      <div class="col-3 card mr-5 bg-light font-weight-bold" id="<%= dom_id(list) %>">
        <%= turbo_frame_tag "list#{list.id}" do %>
          <h4 class="p-2"><%= list.title %></h4>
        <% end %>
        <div>
          <% list.cards.each do |card| %>
            <div class="card mb-2 d-flex flex-row" id="<%= dom_id(card) %>">
              <div class="card-body">
                <h5 class="card-title"><%= card.content %></h5>
              </div>
            </div>
          <% end %>
        </div>
        <%= turbo_frame_tag 'new_card', src: new_list_card_path(list), target: :_top %>
      </div>
    <% end %>
  </div>

<br>

<%= link_to 'New List', new_list_path %>
