<%= turbo_stream_from @list %>

<%= turbo_frame_tag 'list' do %>
  <%= render @list %>
  <%= link_to 'Edit', edit_list_path(@list) %> |
  <%= link_to 'Back', lists_path, 'data-turbo-frame': :_top %>
<% end %>

<div id='cards'>
  <h2>Cards</h2>
  <%= render @list.cards %>
</div>

<%= turbo_frame_tag 'new_card', src: new_list_card_path(@list), target: :_top %>