<div class="col-12 card mr-5 bg-light font-weight-bold">
  <%= turbo_stream_from @list %>

  <%= turbo_frame_tag 'list' do %>
    <%= render @list %>
  <% end %>

  <div id='cards'>
    <%= render @list.cards %>
  </div>

  <%= turbo_frame_tag 'new_card', src: new_list_card_path(@list), target: :_top %>
</div>